@import "bootstrap.min.css";

#btn-back-to-top 
{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}
#btn-back-to-top svg
{
    fill: #FFFFFF;
    height: 30px;
    width: 30px;
}

html 
{
    scroll-behavior: smooth;
}

.custom-background-page
{
    color: #ffffff !important;
    background-color: #004262 !important;
}

.custom-content-page
{
    min-height: 500px;
}



